body{
    font-family:'Microsoft Yahei';
    background-color:#eeeeee;
}


.slide-wp{
    width:1900px;
    height:460px;
    position:relative;
    left:50%;
    margin-left:-950px;
}
.slides, .slide-bg{
    height:460px;
    background-color:#fff;
    overflow-x:hidden;
}
.slidesjs-pagination{
    position:absolute;
    top:420px;
    left:50%;
    z-index:11;
    margin-left:-52px;
}
.slidesjs-pagination li{
    float:left;
    margin-right:10px;
    list-style-type: none!important;

}
.slidesjs-pagination li a{
    text-indent:-9999px;
    background-color:#333;
    display:inline-block;
    *display:block;
    _display:block;
    width:25px;
    height:7px;

}
.slidesjs-pagination li a.active{
    background-color:#666;

}
.slideChild{
    width:945px;
    margin:0 auto;
    z-index:10;
    height:460px;
    position:relative;
}
.slideChild a.opa{
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    *display:block;
    _display:block;
    width:100px;
    height:50px;
    background-color:#fff;
    filter:alpha(opacity=0);
    -ms-filter:"alpha(opacity=0)";
    opacity:0;
}
.slideChild a.a-jd{
    top:320px;
    left:135px;
    width:230px;
    height:55px;
}
.slideChild a.a-video{
    top:50px;
    left:40px;
    width:230px;
    height:285px;
}
.slideChild a.a-ad{
    position:absolute;
    background-color:#202020;
    color:#fff;
    text-align:center;
    top:365px;
    left:404px;
    width:130px;
    height:32px;
    line-height:32px;
    font-size:16px;
}
.slideChild span.timeTip{
    color:#fbd504;
    font-size:56px;
    position:absolute;
    top:165px;
    left:170px;
    font-weight:bold;
}
.slideImg{
    position:absolute;
    top:0;
    left:0;
    z-index:9;
}

